canvas { 
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    height: 98vh;
    width: 98vh;
    box-shadow: 0 0 5px black;
    margin: 0.5vh;
    background-color: white;
}
body {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    box-shadow: 0 0 5px black;
    background-color: rgb(228, 228, 228);
    display: grid;
    grid-template-columns: 99vh 1fr;
    grid-template-rows: max-content;
    min-height: 99vh;

}
html {
    background-color: rgb(140, 140, 140);
}
#information {
    float: right;
    margin: 20px;
}
@media (max-width: 130vh) {
    body {
        grid-template-columns: 100%;
        grid-template-rows: max-content max-content;
    }
    canvas { 
        height: initial;
        width: 98vw;
    }
}
#settings_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: opacity 200ms, display 1ms 200ms;
}
#settings {
    box-shadow: 0 0 10px black;
    padding: 30px;
    background-color: white;
    opacity: 1;
    transition: opacity 200ms, display 1ms 200ms;
}
button:not(#samples):not(#training_images) {
    float: right;
}
button:not(#samples):not(#training_images), select {
    border: none;
    background: white;
    outline-color: rgb(158, 158, 158);
    outline-style: solid;
    outline-width: 1px;
    padding: 5px;
    box-shadow: 0 0 0 black;
    transition: box-shadow 200ms;
}
button:not(#samples):not(#training_images):hover, select:hover {
    box-shadow: 0 0 5px black;
}
button:not(#samples):not(#training_images):active, select:active {
    box-shadow: 0 0 20px black;
}
#loading {
    display: none;
    opacity: 0;
    transition: opacity 200ms;
    box-shadow: 0 0 30px black;
    padding: 100px;
    background-color: white;
}
#train_progress {
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 90%;
    height: 30px;
    margin: 10px;
}
#train_progress::-webkit-progress-value {
    background-color: white;
    box-shadow: 0 0 5px black inset;
    border-radius: 4px;
}
#train_progress::-moz-progress-value {
    background-color: white;
    box-shadow: 0 0 5px black inset;
    border-radius: 4px;
}
#train_progress::progress-value {
    background-color: white;
    box-shadow: 0 0 5px black inset;
    border-radius: 4px;
}
#train_progress::-webkit-progress-bar {
    background-color: white;
    box-shadow: 0 0 5px black;
    border-radius: 4px;
}
#train_progress::-moz-progress-bar {
    background-color: white;
    box-shadow: 0 0 5px black;
    border-radius: 4px;
}
#train_progress::progress-bar {
    background-color: white;
    box-shadow: 0 0 5px black;
    border-radius: 4px;
}
#progress_bar {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    display: flex;
}
#pause, #restart {
    height: 30px;
    margin: 10px;
    cursor: pointer;
}
#switch_canvas {
    border-style: solid;
    border-width: 1px;
    width: fit-content;
}
#switch_canvas button {
    border: none;
    padding: 10px;
    margin: 0;
    transition: z-index 200ms, box-shadow 200ms, background-color 200ms;
    position: relative;
    outline: none;
}
.selected {
    background-color: #228a22;
    box-shadow: 0 0 30px black;
    z-index: 1;
}
.not_selected {
    background-color: #881212;
    cursor: pointer;
    z-index: 0;
}
a {
    color: black;
    position: absolute;
    bottom: 10px;
    right: 20px;
}
